@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div style="opacity: 0.9;background-color:whitesmoke;margin:auto;width:500px;">
    <div style="text-align:center">
        <h1>@Model.StatusMessage</h1>
    </div>
</div>