@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Регистрация Завершена";
}

<div style="opacity: 0.9;background-color:whitesmoke;margin:auto;width:500px;">
    <div style="text-align:center">

        <h1>@ViewData["Title"]</h1>
        <p>
            Пожалуйста проверьте свою почту.
        </p>

    </div>
</div>